{% extends 'adminpanel/base.html' %}
{% block header %}Banners{% endblock %}

{% block content %}

<div class="card p-4">
    <div class="card-header flex-between">
        <h2>Homepage Banners</h2>
        <a href="{% url 'vivaan_admin:banner_create' %}" class="bg-green-900 text-white p-1  md:p-2 rounded">
            + Add Banner
        </a>
    </div>
<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Position</th>
                <th>Status</th>
                <th style="text-align:center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for banner in banners %}
            <tr>
                <td>
                    <img src="{{ banner.image.url }}" class="h-12 rounded-md">
                </td>
                <td>
                    <strong>{{ banner.title }}</strong><br>
                    <small>{{ banner.subtitle }}</small>
                </td>
                <td>{{ banner.slot_position }}</td>
                <td>
                    {% if banner.active %}
                        <span class="badge badge-confirmed">Active</span>
                    {% else %}
                        <span class="badge badge-cancelled">Inactive</span>
                    {% endif %}
                </td>
                <td style="text-align:center;">
                    <a href="{% url 'vivaan_admin:banner_edit' banner.id %}"
                       class="btn-action btn-view btn-sm">Edit</a>
                    <a href="{% url 'vivaan_admin:banner_delete' banner.id %}"
                       class="btn-action btn-delete btn-sm"
                       onclick="return confirm('Delete this banner?')">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="text-align:center;">No banners found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if banners.has_other_pages %}
<div class="pagination-wrapper">
    <ul class="pagination">
        
        {% if banners.has_previous %}
        <li>
            <a href="?page={{ banners.previous_page_number }}">« Prev</a>
        </li>
        {% else %}
        <li class="disabled"><span>« Prev</span></li>
        {% endif %}

        {% for num in banners.paginator.page_range %}
            {% if banners.number == num %}
                <li class="active"><span>{{ num }}</span></li>
            {% else %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if banners.has_next %}
        <li>
            <a href="?page={{ banners.next_page_number }}">Next »</a>
        </li>
        {% else %}
        <li class="disabled"><span>Next »</span></li>
        {% endif %}

    </ul>
</div>
{% endif %}



</div>

{% endblock %}





